@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  :before,
  :after {
    box-sizing: border-box;
  }

  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #0004;
  }

  ::-webkit-scrollbar-thumb {
    background: #eee5;
    width: 6px;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #eee6;
    width: 12px;
  }
}

@layer utilities {
  .scroll-gutter {
    scrollbar-gutter: stable;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
